# Testing Stuff

In [3]:
import pandas as pd
from pyhere import here

## Read

In [20]:
phonebook_raw = pd.read_csv(here("data/TelephoneDepartment.csv"))

In [21]:
phonebook_raw

,Building,Floor,CodeName,Description,Telephone
0,NaN,NaN,General,ถามเบอร์โทรศัพท์ใดๆ,1000
1,NaN,NaN,INR,Intervention Neuroradiology,"3390, 3391"
2,NaN,NaN,VIR,Vascular Interventional Radiology,"2460, 2470"
3,NaN,NaN,MDJ,Stroke Unit (MDJ),"2700, 2715, 2716"
4,NaN,NaN,HSU1,Short Stay 3,"0308, 0309"
...,...,...,...,...,...
63,Bldg.1,9th,9PC,Pediatric Intensive Care Unit (PICU),"1276, 1473, 1903"
64,Bldg.1,9th,9CC,CCU Ward,"1901, 1902"
65,Bldg.1,9th,9SE,Surgery Ward,"Front: 1501, 1591; Back: 1920"
66,Bldg.1,9th,9SW,Medicine Ward,"1502,1592"
67,Bldg.1,9th,9NE,Pediatric Surgery Ward,"1904, 1905, 1906, 1907"

In [22]:
phonebook_raw.dtypes

Building       object
Floor          object
CodeName       object
Description    object
Telephone      object
dtype: object

## Process

In [27]:
phonebook = phonebook_raw[["CodeName", "Description", "Telephone"]].fillna("")